<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>datagrid</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script type="text/javascript" src="../../static/mod/jquery-2.0.3/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../../static/mod/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/mod/jquery-easyui-1.4.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../static/mod/jquery-easyui-1.4.2/themes/icon.css">
</head>
<body>
	<input  type="text" id="ipt"  value="9" class="easyui-numberspinner"> 
	<input  type="text" id="ipt2" value="4" class="easyui-numberspinner">
	<script>
	function assignment(){
		var v1 = $("#ipt").numberspinner("getValue");
        $("#ipt2").numberspinner("setValue", v1);
    }
	$("#ipt").numberspinner({
		spin:function(){
			var v1 = $("#ipt").numberspinner("getValue");
        	$("#ipt2").numberspinner("setValue", v1);
		}
	});
	$("body").on("keyup", ".textbox-text", function() {
		$("#ipt2").numberspinner("setValue", $(this).val());
	});
	</script>
</body>
</html>